<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.huma.humaleanbacklib">

    <application>
        <activity android:name=".MenuActivity"
            android:theme="@style/LeanbackTheme"
            ></activity>
        <activity
            android:name=".PublicActivity"
            android:theme="@style/LeanbackTheme" />
    </application>

</manifest>